<div class="container-fluid alex">
  <div class="row">
    <div class="col-12 col-md-6 left">
      <h1>About Me</h1>
      <p>Hello. My name is Aleksandar Milojevik and I am a Front End Developer.

        I have created this simple portfolio website, in order to show my skills.

        The site is created with Angular. It is mainly HTML and CSS, but it also uses Bootstrap and Typescript(project section at the bottom).

        Anyway, I am looking for internship opportunities or a job as a Junior Developer.

        You can contact me via Mail at aleksandarmilojevik@gmail.com</p>
    </div>
    <div class="col-12 col-md-6 right">
      <h1>Basic Information</h1>
      <h3>FULL NAME: <span class="spn">Aleksandar Milojevik</span></h3>
      <h3>DATE OF BIRTH: <span class="spn">14.07.1985</span></h3>
      <h3>EMAIL: <span class="spn">aleksandarmilojevik@gmail.com</span></h3>
      <h3>MOBILE: <span class="spn">+38975326173</span></h3>
    </div>
  </div>
</div>
