<div class="container-fluid">
  <div class="row rowHundred">
    <div class="col-2 align-self-center img">
      <img src="../../../assets/alexCroped.jpg" width="200px">
    </div>
  </div>
  <div class="rowName">
    <div class="col-12 name">
      <h1>Aleksandar Milojevikj</h1>
    </div>
  </div>
  <div class="animation">
    <div class="title">
      <div class="slider">
        <div class="sliding"><h3>Front End Developer</h3></div>
        <div class="sliding"><h3>Angular Developer</h3></div>
        <div class="sliding"><h3>Web Designer</h3></div>
      </div>
    </div>
  </div>
  <div class="rowSocial">
    <div class="buttons">
      <button class="btn"><span></span>Hire Me</button>
      <button class="btn" id="rightBtn" ><span></span><a href="https://www.dropbox.com/s/wvgaeuyoetkbz9u/my-cv%20%283%29.pdf?dl=0" target="_blank">CV</a></button>
    </div>
    <div class="social">
      <a href="https://www.facebook.com/aleksandar.milojevik.75" target=_blank><img src="../../../assets/facebook (1).png" height="50px"></a>
      <a href="https://www.instagram.com/aleksandarmilojevik/" target="_blank"><img src="../../../assets/instagram.png" height="50px"></a>
      <img src="../../../assets/twitter.png" height="50px">
      <a href="https://github.com/aleks1407" target="_blank"><img src="../../../assets/github.png" height="50px"></a>
    </div>
  </div>
</div>
