<div class="section" id="education">
  <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education <br><p class="para">(*responsive page)</p></div>
          <div class="card">
              <div class="row">
                  <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body cc-education-header">
                          <p>2000-2004</p>
                      <div class="h5">High School Degree</div>
                      </div>
                  </div>
                  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                          <div class="h4">Electric Technicean</div>
                              <h4 class="category">USO Kole Nedelkovski</h4>
                              <ul>
                                  <li>Completed The Electrical Technician program at USO Kole Nedelkovski</li>
                                      <li><strong>Diploma</strong> in Electric Sciences</li>
                              </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="row">
                  <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body cc-education-header">
                          <p>2006-2011</p>
                      <div class="h5">Brachelors In Forestry</div>
                      </div>
                  </div>
                  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                          <div class="h4">Forestry Engineer</div>
                          <h4 class="category">St Cyril and Methodius University</h4>
                          <ul>
                            <li><strong>Diploma</strong> in Forestry Sciences at the University Of Forestry - Skopje</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="row">
                  <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body cc-education-header">
                          <p>2020-2021</p>
                      <div class="h5">Software Development</div>
                      </div>
                  </div>
                  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                          <div class="h5">Front End Developer</div>
                              <h4 class="category">SkillUp Academy</h4>
                              <ul>
                                      <li><strong>Diploma</strong> in Front End Development</li>
                              </ul>
                      </div>
                  </div>
              </div>
          </div>
  </div>
</div>
