<div class="container-fluid">
  <h1 class="text">Work Experience</h1>
  <div class="experience" id="aleksandarForest">
    <div class="left">
      <h1>Aleksandar Forest ltd</h1>
      <h3><strong>Manager and Owner</strong></h3>
      <p>Aleksandar Forest ltd is a company <br> that works with forest exploatation <br> and usage of various forest products <br> such as timber, firewood etc.</p>
    </div>
    <div class="right">
      <h2>Date: 04/2013 - 05/2018</h2>
      <ul>
        <h3><strong>Description</strong></h3>
        <li><p>Lumber exploatation</p></li>
        <li><p>Human resources</p></li>
        <li><p>Chief Engineer in firewood production</p></li>
      </ul>
    </div>
  </div>
  <div class="experience" id="fruktImport">
    <div class="left">
      <h1>Frukt Import ltd</h1>
      <h3><strong>Salesman</strong></h3>
      <p>Frukt Import is a company that works in sales and Marketing. <br> Some of the best clients include <strong>Zito ltd</strong>, <strong>Kit-go ltd</strong> and <strong>Kam ltd</strong>.</p>
    </div>
    <div class="right">
      <h2>Date: 04/2020 - 01/2021</h2>
      <ul>
        <h3><strong>Description</strong></h3>
        <li><p>Sales Plan</p></li>
        <li><p>Apply company`s sale policies</p></li>
        <li><p>Research market and search for additional opportunities</p></li>
      </ul>
    </div>
  </div>
  <div class="experience" id="blogging">
    <div class="left">
      <h1>Blogging</h1>
      <h3><strong>Webmaster</strong></h3>
      <p>Creating and managing multiple blogs on the World Wide Web.</p>
    </div>
    <!-- <div class="right">
      <h2>Date: 01/2017 - Present</h2>
      <ul>
        <h3><strong>Description</strong></h3>
        <li><p>SEO</p></li>
        <li><p>Internet Marketing</p></li>
        <li><p>Web Design</p></li>
      </ul>
    </div> -->
    <div class="right-right">
      <h2>Date: 01/2017 - Present</h2>
      <ul>
        <h3><strong>WebSites</strong></h3>
        <li><a href="http://www.insuranceers.com/" target="_blank">Insuranceers</a></li>
        <li><a href="http://www.mondayusnews.com/" target="_blank">Monday Us News</a></li>
        <li><a href="http://www.crimexxl.com/" target="_blank">CrimeXXL</a></li>
        <li><a href="http://www.electricityheat.com/" target="_blank">Electricity&Heat</a></li>
        <li><a href="http://www.ourgymrocks.com/" target="_blank">Our Gym Rocks</a></li>
      </ul>
    </div>
  </div>
</div>

